In [16]:
import pandas as pd
import car-sales.csv as cars

SyntaxError: invalid syntax (890264729.py, line 2)

In [10]:
Cars = pd.Series(["BMW"] * 10)
Tasks = pd.Series(["clean"] * 10)

In [11]:
Tasks

0    clean
1    clean
2    clean
3    clean
4    clean
5    clean
6    clean
7    clean
8    clean
9    clean
dtype: object

In [14]:
temp = pd.DataFrame({"CARS":Cars, "TASKS":Tasks})
temp

  CARS  TASKS
0  BMW  clean
1  BMW  clean
2  BMW  clean
3  BMW  clean
4  BMW  clean
5  BMW  clean
6  BMW  clean
7  BMW  clean
8  BMW  clean
9  BMW  clean

In [15]:
import data

ModuleNotFoundError: No module named 'data'