# AA

In [2]:
import pandas as pd
cars = pd.read_csv("car-sales.csv")
cars["Price"] = cars["Price"].str.replace("$","").str.replace(",","").astype(float)
cars

     Make Colour  Odometer (KM)  Doors    Price
0  Toyota  White         150043      4   4000.0
1   Honda    Red          87899      4   5000.0
2  Toyota   Blue          32549      3   7000.0
3     BMW  Black          11179      5  22000.0
4  Nissan  White         213095      4   3500.0
5  Toyota  Green          99213      4   4500.0
6   Honda   Blue          45698      4   7500.0
7   Honda   Blue          54738      4   7000.0
8  Toyota  White          60000      4   6250.0
9  Nissan  White          31600      4   9700.0

##DESCRBE

Tasks

temp = pd.DataFrame({"CARS":Cars, "TASKS":Tasks})
tempm

import data

cars.dtypes

In [5]:
cars["Price"]

0     4000.0
1     5000.0
2     7000.0
3    22000.0
4     3500.0
5     4500.0
6     7500.0
7     7000.0
8     6250.0
9     9700.0
Name: Price, dtype: float64

##Manipulate Data